<ion-view title="Login">
  <ion-content class="has-header">
  <h1 class="title">Logo</h1>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Your name</span>
          <input type="text" ng-model="loginData.name" placeholder="Your name">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

