<ion-view title="Record">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>New Record</h1>
    
    <button ng-show="startRecordBtn" on-touch="startRecord()" class="button button-block icon-left ion-record button-assertive"><strong>RECORD</strong></button>

    <button ng-show="stopRecordBtn" on-touch="stopRecord()" class="button button-block icon-left ion-stop button-energized ng-hide"><strong>STOP RECORD</strong></button>

    <button ng-show="playRecordBtn" on-touch="playRecord()" class="button button-block icon-left ion-play button-calm ng-hide"><strong>PLAY RECORD</strong></button>

    <div ng-show="playRecordBtn" class="button-bar">
	  <a class="button button-balanced" on-touch="showSaveForm()">SAVE FILE</a>
	  <a class="button button-assertive" on-touch="recordAgain()">RECORD AGAIN</a>
	</div>

    <form ng-submit="saveRecord()" ng-show="saveRecordBtn">

    	<label class="item item-input item-stacked-label">
		    <span class="input-label">Name:</span>
		    <input type="text" ng-model="record.name" placeholder="Put a name to this record"/>
	  	</label>

	    <label class="item item-input item-stacked-label">
		    <span class="input-label">Text of the sound:</span>
		    <textarea placeholder="Put here the text of the sound recorded." ng-model="record.text"></textarea>
	  	</label>

	  	<label class="item item-input item-stacked-label">
		    <span class="input-label">Add some tags:</span>
		    <tags-input ng-model="record.tags"></tags-input>
	  	</label>
	    
	    <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
  	</form>
  </ion-content>
</ion-view>
