<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Record saved</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <h1 class="title">Saved</h1>
    <p>
    	Your record is saved in our servers, what you want to do now?
    </p>

    <a class="button button-block button-assertive" href="#/app/record" on-touch="closeModal()">Save new Record</a>
    <a class="button button-block button-assertive" href="#/app/playlists" on-touch="closeModal()">See playlists</a>
    
  </ion-content>
</ion-modal-view>